<div id="login">

    <div class="card">
        <div id="enc-log" class="card-header">
            <h3 id="h3-log" class="text-center">Añadir Rol</h3>
        </div>
        <div class="card-body">
            <form [formGroup]="rolForm">
                <div class="input-group mb-3">
                    <label class="col-2 col-form-label form-control-label" >Nombre</label>
                    <input class="form-control" type="text" formControlName="nombre" name="nombre" maxlength="20">
                </div>
                <div *ngIf="rolForm.get('nombre')?.errors && rolForm.get('nombre')?.dirty" class="form-text text-danger">
                    <small class="col-12" *ngIf="rolForm.get('nombre')?.hasError('required')">{{'gestion-acciones.add-nombre-req' | translate}}</small>
                    <small class="col-12" *ngIf="rolForm.get('nombre')?.hasError('minlength')">{{'gestion-acciones.add-nombre-min' | translate}}</small>
                    <small class="col-12" *ngIf="rolForm.get('nombre')?.hasError('maxlength')">{{'gestion-acciones.add-nombre-max' | translate}}</small>
                    <small class="col-12" *ngIf="rolForm.get('nombre')?.hasError('pattern')">{{'gestion-acciones.add-nombre-pat' | translate}}</small>
                  </div>          
            
                <div class="float-end">
                    <button class="btn btn-secondary" [routerLink]="['/panel-principal/gestion-acciones']">{{'gestion-roles.cancelar' | translate}}<i style="margin-left: 1em; margin-right: 0;" class="fas fa-times-circle"></i></button>
                    <button  (click)="onSubmit()"  [disabled]="!rolForm.valid" class="btn btn-success ml-2" type="button"> Añadir funcionalidad  <i class="fa-solid fa-pen-to-square"></i></button>
                </div>
            </form>
        </div>
  
</div>
</div>