<div id="login">

    <div class="card">
        <div id="enc-log" class="card-header">
            <h3 id="h3-log" class="text-center">Editar Universidad</h3>
        </div>
        <div class="card-body">
            <form [formGroup]="universidadForm">
              

                <div class="input-group mb-3">
                    <label class="col-2 col-form-label form-control-label" >{{'gestion-universidades.nombre' | translate}}</label>
                    <input class="form-control" type="text" formControlName="nombre" name="nombre" >
                </div>

                <div class="input-group mb-3">
                    <label class="col-2 col-form-label form-control-label" >{{'gestion-universidades.ciudad' | translate}}</label>
                    <input class="form-control" type="text" formControlName="ciudad" name="ciudad" >
                </div>

                <div class="input-group mb-3">
                    <label class="col-2 col-form-label form-control-label" >{{'gestion-universidades.responsable' | translate}}</label>
                    <div class="col-10">
                        <select class="form-control" formControlName="responsable" name="responsable" id="responsable">
                          <option value="" selected="true" disabled="disabled">{{'gestion-universidades.select-responsable' | translate}}</option>
                            <option *ngFor="let responsable of responsableSelect;" value="{{responsable.dni}}">{{responsable.nombre}} {{responsable.apellidos}} ({{responsable.dni}})</option>
                        </select>
                      </div>
                </div>
                          
             
            
                <div class="float-end">
                    <button class="btn btn-secondary" [routerLink]="['/panel-principal/gestion-universidades/showall']">{{'gestion-universidades.cancelar' | translate}}<i style="margin-left: 1em; margin-right: 0;" class="fas fa-times-circle"></i></button>
                    <button  (click)="onSubmit()"   class="btn btn-success ml-2" type="button"> Editar Universidad  <i class="fa-solid fa-pen-to-square"></i></button>
                </div>
            </form>
        </div>
  
</div>
</div>