<div id="login">

    <div class="card">
        <div id="enc-log" class="card-header">
            <h3 id="h3-log" class="text-center">Añadir Rol Usuario</h3>
        </div>
        <div class="card-body">
            <form [formGroup]="rolUsuarioForm">
                <div class="form-group row">
                    <label class="col-12 col-form-label form-control-label" >{{'gestion-roles-usuario.usuario' |
                      translate}}</label>
                <div class="input-group mb-3">
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" formControlName="usuario_id" name="usuario_id" id="usuario_id">
                        <option value="" selected="true" disabled="disabled">{{'gestion-roles-usuario.select-usuario' | translate}}</option>
                        <option *ngFor="let usuario of usuariosSelect;" value="{{usuario.dni}}">{{usuario.nombre}} {{usuario.apellidos}} ({{usuario.dni}})</option>
                      </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-12 col-form-label form-control-label">{{'gestion-roles-usuario.rol' | translate}}</label>
                  <div class="input-group mb-3">
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" formControlName="rol_id" name="rol_id" id="rol_id">
                        <option value="" selected="true" disabled="disabled">{{'gestion-roles-usuario.select-rol' | translate}}</option>
                        <option *ngFor="let rol of rolesSelect;" value="{{rol.id}}">{{rol.nombre}}</option>
                      </select>
                </div>
            </div>
           
            
                <div class="float-end">
                    <button class="btn btn-secondary" [routerLink]="['/panel-principal/gestion-roles-usuarios/showall']">{{'gestion-acciones.cancelar' | translate}}<i style="margin-left: 1em; margin-right: 0;" class="fas fa-times-circle"></i></button>
                    <button  (click)="onSubmit()"   class="btn btn-success ml-2" type="button"> Añadir Rol <i class="fa-solid fa-pen-to-square"></i></button>
                </div>
           
            </form>
        </div>
  
</div>
</div>
