<div id="login">

    <div class="card ">
        <div id="enc-log" class="card-header">
            <h3 id="h3-log" class="text-center">Añadir Profesor</h3>
        </div>
        <div class="card-body">
            <form [formGroup]="profesorForm">
                <div class="input-group mb-3">
                    <label class="col-2 col-form-label form-control-label" >{{'gestion-profesores.usuario' | translate}}</label>
                    <div class="col-12">
                        <select class="form-control" formControlName="dni" name="dni" id="dni">
                          <option value="" selected="true" disabled="disabled">{{'gestion-profesores.select-dni' | translate}}</option>
                          <option *ngFor="let usuario of usuarioSelect;" value="{{usuario.dni}}">{{usuario.dni}} ({{usuario.nombre}} {{usuario.apellidos}})</option>
                        </select>
                      </div>
                </div>

                <div class="input-group mb-3">
                    <label class="col-2 col-form-label form-control-label" >{{'gestion-profesores.departamento' | translate}}</label>
                    <div class="col-12">
                        <select class="form-control" formControlName="departamento" name="departamento" id="departamento">
                          <option value="" selected="true" disabled="disabled">{{'gestion-profesores.select-departamento' | translate}}</option>
                          <option *ngFor="let departamento of departamentoSelect;" value="{{departamento.id}}">{{departamento.codigo}} ({{departamento.nombre}})</option>
                        </select>
                      </div>
                </div>
                <div class="input-group mb-3">
                    <label class="col-2 col-form-label form-control-label" >{{'gestion-profesores.usuario' | translate}}</label>
                    <div class="col-12">
                        <select class="form-control" formControlName="dedicacion" name="dedicacion" id="dedicacion">
                            <option value="" selected="true" disabled="disabled">{{'gestion-profesores.select-dedicacion' | translate}}</option>
                            <option value="TC">TC</option>
                            <option value="P1" >P1</option>
                            <option value="P2" >P2</option>
                            <option value="P3" >P3</option>
                            <option value="P4" >P4</option>
                            <option value="P5" >P5</option>
                            <option value="P6" >P6</option>
                          </select>
                      </div>
                </div>

                
            
                <div class="float-end">
                    <button class="btn btn-secondary" [routerLink]="['/panel-principal/gestion-profesores/showall']">{{'gestion-profesores.cancelar' | translate}}<i style="margin-left: 1em; margin-right: 0;" class="fas fa-times-circle"></i></button>
                    <button  (click)="onSubmit()"   class="btn btn-success ml-2" type="button"> Añadir profesor  <i class="fa-solid fa-pen-to-square"></i></button>
                </div>
            </form>
        </div>
  
</div>
</div>
