<div id="login">

    <div class="card ">
        <div id="enc-log" class="card-header">
            <h3 id="h3-log" class="text-center">{{'gestion-horarios.edit' | translate}}</h3>
        </div>
        <div class="card-body">
            <form [formGroup]="horarioForm">
                
                <div class="form-group row col-12 ">
                    <div class="col-12">
                        <label class="col-4 col-form-label form-control-label" >{{'gestion-horarios.titulacion' |
                            translate}}</label>
                        <select class="form-control" formControlName="titulacion" name="titulacion" id="titulacion" >
                            <option value="" selected="true" disabled="disabled">{{'gestion-horarios.select-titulacion' |
                                translate}}</option>
                            <option *ngFor="let titulacion of titulacionSelect;"
                                value="{{titulacion.id}}">{{titulacion.nombre}} ({{titulacion.anho}})</option>
                        </select>
                    </div> 
                    <div *ngIf="horarioForm.get('titulacion')?.errors && horarioForm.get('titulacion')?.dirty"
                    class="form-text text-danger">
                    <small class="col-12"
                        *ngIf="horarioForm.get('titulacion')?.hasError('required')">{{'gestion-horarios.add-titulacion-req' |
                        translate}}</small>
                </div>                 
                </div>

                <div class="form-group row col-12 ">
                    <div class="col-12">
                        <label class="col-4 col-form-label form-control-label" >{{'gestion-horarios.asignatura' |
                            translate}}</label>
                        <select class="form-control" formControlName="asignatura" name="asignatura" id="asignatura">
                            <option value="" selected="true" disabled="disabled">{{'gestion-horarios.select-asignatura' |
                                translate}}</option>
                                <option *ngFor="let asignatura of asignaturaSelect;" value="{{asignatura.id}}" >{{asignatura.nombre}}
                                </option>
                        </select>
                    </div>
                    <div *ngIf="horarioForm.get('asignatura')?.errors && horarioForm.get('asignatura')?.dirty"
                    class="form-text text-danger">
                    <small class="col-12"
                        *ngIf="horarioForm.get('asignatura')?.hasError('required')">{{'gestion-horarios.add-asignatura-req' |
                        translate}}</small>
                </div>
                </div>
                   
        
                <div class="form-group row col-12 ">
                    <div class="col-12">
                        <label class="col-4 col-form-label form-control-label" >{{'gestion-horarios.grupo' |
                            translate}}</label>
                        <select class="form-control" formControlName="grupo" name="grupo" id="grupo">
                            <option value="" selected="true" disabled="disabled">{{'gestion-horarios.select-grupo' |
                                translate}}</option>
                                <option *ngFor="let grupo of grupoSelect;" value="{{grupo.id}}">{{grupo.nombre}}
                                </option>
                        </select>
                    </div>    
                    <div *ngIf="horarioForm.get('grupo')?.errors && horarioForm.get('grupo')?.dirty" class="form-text text-danger">
                        <small class="col-12"
                            *ngIf="horarioForm.get('grupo')?.hasError('required')">{{'gestion-horarios.add-grupo-req' |
                            translate}}</small>
                    </div>             
                </div>

                <div class="form-group row col-12 ">
                    <div class="col-12">
                        <label class="col-12 col-form-label form-control-label" >{{'gestion-horarios.espacio'
                            | translate}}</label>
                        
                            <select class="form-control" formControlName="espacio" name="espacio" id="espacio">
                                <option value="" selected="true" disabled="disabled">{{'gestion-horarios.select-espacio' |
                                    translate}}</option>
                                <option *ngFor="let espacio of espacioSelect;" value="{{espacio.id}}">{{espacio.nombre}}
                                </option>
                            </select>
                        
                    </div> 
                    <div *ngIf="horarioForm.get('espacio')?.errors && horarioForm.get('espacio')?.dirty" class="form-text text-danger">
                        <small class="col-12"
                            *ngIf="horarioForm.get('espacio')?.hasError('required')">{{'gestion-horarios.add-espacio-req' |
                            translate}}</small>
                    </div>               
                </div>
                  
                <div class="form-group row col-12 ">
                    <div class="col-12">
                        <label class="col-12 col-form-label form-control-label" >{{'gestion-horarios.espacio'
                            | translate}}</label>
                        
                            <select class="form-control" formControlName="profesor" name="profesor" id="profesor">
                                <option value="" selected="true" disabled="disabled">{{'gestion-horarios.select-profesor' |
                                    translate}}</option>
                                <option *ngFor="let profesor of profesorSelect;" value="{{profesor.dni}}">
                                    {{profesor.nombre_usuario}} {{profesor.apellidos_usuario}} ({{profesor.dni}})
                                </option>
                            </select>
                        
                    </div> 
                    <div *ngIf="horarioForm.get('profesor')?.errors && horarioForm.get('profesor')?.dirty"
                    class="form-text text-danger">
                    <small class="col-12"
                        *ngIf="horarioForm.get('profesor')?.hasError('required')">{{'gestion-horarios.add-profesor-req' |
                        translate}}</small>
                </div>               
                </div>
                
            
            <div class="form-group row mb-2">
                <div class="col-3" [style.z-index]="10000">
                    <label class="col-4 col-form-label form-control-label" >{{'gestion-horarios.fecha'
                        |
                        translate}}</label>
                        <div>
                            <input class="form-control" type="date" formControlName="fecha" name="fecha"  min="2000-01-01" max="2100-12-31">
                        </div>
    
                </div>
                <div *ngIf="horarioForm.get('tipo')?.errors && horarioForm.get('tipo')?.dirty" class="form-text text-danger">
                    <small class="col-4" *ngIf="horarioForm.get('tipo')?.hasError('required')">{{'gestion-horarios.add-tipo-req'
                        |
                        translate}}</small>
                </div>
              
    
                <div class="col-3">
                    <label class="col-6 col-form-label form-control-label"
                        >{{'gestion-horarios.hora_inicio' |
                        translate}}</label>
                        <div>
                            <input class="form-control" type="time" formControlName="hora_inicio" name="hora_inicio" min="08:00" max="21:00" >
                        </div>
                </div>
    
                <div class="col-3">
                    <label class="col-6 col-form-label form-control-label"
                        >{{'gestion-horarios.hora_fin' |
                        translate}}</label>
                        <div>
                            <input class="form-control" type="time" formControlName="hora_fin" name="hora_fin" min="hora_inicio_value" max="21:00">
                        </div>
                </div>

             
            </div>
       
           
                <div class="float-end">
                    <button class="btn btn-secondary" [routerLink]="['/panel-principal/gestion-horarios/showall']">{{'app.cancelar' | translate}}<i style="margin-left: 1em; margin-right: 0;" class="fas fa-times-circle"></i></button>
                    <button  (click)="onSubmit()"   class="btn btn-success ml-2" type="button"> {{'gestion-horarios.edit' | translate}}  <i class="fa-solid fa-pen-to-square"></i></button>
                </div>
                <div *ngIf="getflashError()" class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{getflashError()}}
                    <button (click)="onCloseFlash()" type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            
            
            </form>
        </div>
  
</div>



