<div id="login">

    <div class="card">
        <div id="enc-log" class="card-header">
            <h3 id="h3-log" class="text-center">{{'gestion-edificios.add-edificio' | translate}}</h3>
        </div>
        <div class="card-body">
            <form [formGroup]="edificioForm">
              

                <div class="input-group mb-3">
                    <label class="col-2 col-form-label form-control-label" >{{'gestion-edificios.nombre' | translate}}</label>
                    <input class="form-control" type="text" formControlName="nombre" name="nombre" >
                </div>
                <div *ngIf="edificioForm.get('nombre')?.errors && edificioForm.get('nombre')?.dirty" class="form-text text-danger">
                    <small class="col-12" *ngIf="edificioForm.get('nombre')?.hasError('required')">{{'gestion-edificios.add-nombre-req' | translate}}</small>
                    <small class="col-12" *ngIf="edificioForm.get('nombre')?.hasError('minlength')">{{'gestion-edificios.add-nombre-min' | translate}}</small>
                    <small class="col-12" *ngIf="edificioForm.get('nombre')?.hasError('maxlength')">{{'gestion-edificios.add-nombre-max' | translate}}</small>
                    <small class="col-12" *ngIf="edificioForm.get('nombre')?.hasError('pattern')">{{'gestion-edificios.add-nombre-pat' | translate}}</small>
                  </div>
                <div class="input-group mb-3">
                    <label class="col-2 col-form-label form-control-label" >{{'gestion-edificios.ubicacion' | translate}}</label>
                    <input class="form-control" type="text" formControlName="ubicacion" name="ubicacion" >
                </div>
                <div *ngIf="edificioForm.get('ubicacion')?.errors && edificioForm.get('ubicacion')?.dirty" class="form-text text-danger">
                    <small class="col-12" *ngIf="edificioForm.get('ubicacion')?.hasError('required')">{{'gestion-edificios.add-ubicacion-req' | translate}}</small>
                    <small class="col-12" *ngIf="edificioForm.get('ubicacion')?.hasError('minlength')">{{'gestion-edificios.add-ubicacion-min' | translate}}</small>
                    <small class="col-12" *ngIf="edificioForm.get('ubicacion')?.hasError('maxlength')">{{'gestion-edificios.add-ubicacion-max' | translate}}</small>
                    <small class="col-12" *ngIf="edificioForm.get('ubicacion')?.hasError('pattern')">{{'gestion-edificios.add-ubicacion-pat' | translate}}</small>
                  </div>
                <div class="input-group mb-3">
                    <label class="col-2 col-form-label form-control-label" >{{'gestion-edificios.universidad' | translate}}</label>
                    <div class="col-10">
                        <select class="form-control" formControlName="universidad" name="universidad" id="universidad">
                          <option value="" selected="true" disabled="disabled">{{'gestion-edificios.universidad' | translate}}</option>
                          <option *ngFor="let universidad of universidadSelect;" value="{{universidad.id}}">{{universidad.nombre}}</option>
                        </select>
                      </div>
                      <div *ngIf="edificioForm.get('universidad')?.errors && edificioForm.get('universidad')?.dirty" class="form-text text-danger">
                        <small class="col-12" *ngIf="edificioForm.get('universidad')?.hasError('required')">{{'gestion-edificios.add-universidad-req' | translate}}</small>
                      </div>
                </div>

            
                <div class="float-end">
                    <button class="btn btn-secondary" [routerLink]="['/panel-principal/gestion-edificios/showall']">{{'gestion-edificios.cancelar' | translate}}<i style="margin-left: 1em; margin-right: 0;" class="fas fa-times-circle"></i></button>
                    <button  (click)="onSubmit()"   class="btn btn-success ml-2" type="button"> {{'gestion-edificios.add-edificio' | translate}} <i class="fa-solid fa-pen-to-square"></i></button>
                </div>
                <div *ngIf="getflashError()" class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{getflashError()}}
                    <button (click)="onCloseFlash()" type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
            </form>
        </div>
  
</div>
</div>