<div id="login">

    <div class="card">
        <div id="enc-log" class="card-header">
            <h3 id="h3-log" class="text-center">{{'gestion-universidades.add-universidad' | translate}}</h3>
        </div>
        <div class="card-body">
            <form [formGroup]="universidadForm">
              

                <div class="input-group mb-3">
                    <label class="col-2 col-form-label form-control-label" >{{'gestion-universidades.nombre' | translate}}</label>
                    <input class="form-control" type="text" formControlName="nombre" name="nombre" >
                </div>
                <div *ngIf="universidadForm.get('nombre')?.errors && universidadForm.get('nombre')?.dirty" class="form-text text-danger">
                    <small class="col-12" *ngIf="universidadForm.get('nombre')?.hasError('required')">{{'gestion-universidades.add-nombre-req' | translate}}</small>
                    <small class="col-12" *ngIf="universidadForm.get('nombre')?.hasError('minlength')">{{'gestion-universidades.add-nombre-min' | translate}}</small>
                    <small class="col-12" *ngIf="universidadForm.get('nombre')?.hasError('maxlength')">{{'gestion-universidades.add-nombre-max' | translate}}</small>
                    <small class="col-12" *ngIf="universidadForm.get('nombre')?.hasError('pattern')">{{'gestion-universidades.add-nombre-pat' | translate}}</small>
                  </div>
                <div class="input-group mb-3">
                    <label class="col-2 col-form-label form-control-label" >{{'gestion-universidades.ciudad' | translate}}</label>
                    <input class="form-control" type="text" formControlName="ciudad" name="ciudad" >
                </div>
                <div *ngIf="universidadForm.get('ciudad')?.errors && universidadForm.get('ciudad')?.dirty" class="form-text text-danger">
                    <small class="col-12" *ngIf="universidadForm.get('ciudad')?.hasError('required')">{{'gestion-universidades.add-ciudad-req' | translate}}</small>
                    <small class="col-12" *ngIf="universidadForm.get('ciudad')?.hasError('minlength')">{{'gestion-universidades.add-ciudad-min' | translate}}</small>
                    <small class="col-12" *ngIf="universidadForm.get('ciudad')?.hasError('maxlength')">{{'gestion-universidades.add-ciudad-max' | translate}}</small>
                    <small class="col-12" *ngIf="universidadForm.get('ciudad')?.hasError('pattern')">{{'gestion-universidades.add-ciudad-pat' | translate}}</small>
                  </div>
                <div class="input-group mb-3">
                    <label class="col-2 col-form-label form-control-label" >{{'gestion-universidades.responsable' | translate}}</label>
                    <div class="col-10">
                        <select class="form-control" formControlName="responsable" name="responsable" id="responsable">
                          <option value="" selected="true" disabled="disabled">{{'gestion-universidades.select-responsable' | translate}}</option>
                            <option *ngFor="let responsable of responsableSelect;" value="{{responsable.dni}}">{{responsable.nombre}} {{responsable.apellidos}} ({{responsable.dni}})</option>
                        </select>
                      </div>
                      <div *ngIf="universidadForm.get('responsable')?.errors && universidadForm.get('responsable')?.dirty" class="form-text text-danger">
                        <small class="col-12" *ngIf="universidadForm.get('responsable')?.hasError('required')">{{'gestion-universidades.add-responsable-req' | translate}}</small>
                      </div>
                </div>
                          
             
            
                <div class="float-end">
                    <button class="btn btn-secondary" [routerLink]="['/panel-principal/gestion-universidades/showall']">{{'gestion-universidades.cancelar' | translate}}<i style="margin-left: 1em; margin-right: 0;" class="fas fa-times-circle"></i></button>
                    <button  (click)="onSubmit()"   class="btn btn-success ml-2" type="button"> {{'gestion-universidades.add-universidad' | translate}}  <i class="fa-solid fa-pen-to-square"></i></button>
                </div>
                <div *ngIf="getflashError()" class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{getflashError()}}
                    <button (click)="onCloseFlash()" type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
            </form>
        </div>
  
</div>
</div>