<div class="container mt-5">

    <button class="btn btn-success mb-2"
      [routerLink]="['/panel-principal/gestion-profesores/add']">{{'gestion-profesores.add-usuario' | translate}}<i
        style="margin-left: 1em; margin-right: 0;" class="fa-solid fa-circle-plus"></i></button>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">{{'gestion-profesores.usuario' | translate}}</th>
          <th scope="col">{{'gestion-profesores.departamento' | translate}}</th>
          <th scope="col">{{'gestion-profesores.dedicacion' | translate}}</th>         
          <th scope="col" class="text-center" *ngIf="tieneFuncionalidadAction('PROFESOR','DELETE')">{{'app.options' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let profesor of profesores;let indice=index">
            <th scope="row">{{indice+1}}</th>   
            <td>{{profesor.dni}} ({{profesor.nombre_usuario}} {{profesor.apellidos_usuario}})</td>
        <td>{{profesor.codigo_departamento}} ({{profesor.nombre_departamento}})</td>
        <td>{{profesor.dedicacion}}</td>        
        <td
        *ngIf="tieneFuncionalidadAction('PROFESOR','EDIT') || tieneFuncionalidadAction('PROFESOR','DELETE') || tieneFuncionalidadAction('PROFESOR','SHOWCURRENT')"
        class="text-center">
        <div>
         
          <i *ngIf="tieneFuncionalidadAction('PROFESOR','EDIT')"
             [routerLink]="['/panel-principal/gestion-profesores/edit', usuario.dni]" class="fas fa-edit"></i>
          <i *ngIf="tieneFuncionalidadAction('PROFESOR','DELETE')" 
             (click)="deleteUsuario(usuario)" class="fas fa-trash-alt"></i>
        </div>
      </td>
          </tr>
  
      </tbody>
    </table>
    <button class="btn btn-danger" [routerLink]="['/panel-principal']">{{'gestion-profesores.volver' | translate}}<i
        style="margin-left: 1em; margin-right: 0;" class="fas fa-long-arrow-alt-left"></i></button>
  
  </div>
  