<div class="container mt-5">

    <button class="btn btn-success mb-2"
      [routerLink]="['/panel-principal/gestion-usuarios/add']">{{'gestion-usuarios.add-usuario' | translate}}<i
        style="margin-left: 1em; margin-right: 0;" class="fa-solid fa-circle-plus"></i></button>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">{{'gestion-permisos.rol' | translate}}</th>
          <th scope="col">{{'gestion-permisos.accion' | translate}}</th>
          <th scope="col">{{'gestion-permisos.funcionalidad' | translate}}</th>
          <th scope="col" class="text-center" *ngIf="tieneFuncionalidadAction('PERMISO','DELETE')">{{'app.options' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let permiso of permisos;let indice=index">
            <th scope="row">{{indice+1}}</th>
            <td>{{usuario.dni}}</td>
        <td>{{usuario.nombre}}</td>
        <td>{{usuario.apellidos}}</td>
        <td>{{usuario.email}}</td>
            <td *ngIf="tieneFuncionalidadAction('PERMISO','DELETE')"><div (click)="delete(permiso)"><i style="margin-left: 2em;" class="far fa-trash-alt"></i></div></td>
          </tr>
  
      </tbody>
    </table>
    <button class="btn btn-danger" [routerLink]="['/panel-principal']">{{'gestion-usuarios.volver' | translate}}<i
        style="margin-left: 1em; margin-right: 0;" class="fas fa-long-arrow-alt-left"></i></button>
  
  </div>
  