<div class="container mt-5"> 
     
      <div class="row justify-content-center">
        <h4 class="text-center">Bienvenido {{getUsuario()?.nombre}} esto es lo que puedes gestionar</h4>
        
        <div *ngIf="tieneFuncionalidad('TUTORIA') || tieneFuncionalidad('HORARIO')" class="card-panel col col-12 col-md-3 m-3" style="width: 18rem;">       
          <div class="card-body text-center">
            <h5 class="card-title">{{'panel-principal.calendario' | translate}}</h5>          
            <a href="#" class="card-link"
               [routerLink]="['/panel-principal/calendario']">{{'panel-principal.acceder' | translate}}</a>
          </div>
        </div>

        <div *ngIf="tieneFuncionalidad('ACCION')" class="card-panel col col-12 col-md-3 m-3" style="width: 18rem;">        
          <div class="card-body text-center">
            <h5 class="card-title">{{'panel-principal.gestion-acciones' | translate}}</h5>           
            <a href="#" class="card-link"
               [routerLink]="['/panel-principal/gestion-acciones']">{{'panel-principal.acceder' | translate}}</a>
          </div>
        </div>

        <div *ngIf="tieneFuncionalidad('FUNCIONALIDAD')" class="card-panel col col-12 col-md-3 m-3" style="width: 18rem;">
          <div class="card-body text-center">
            <h5 class="card-title">{{'panel-principal.gestion-funcionalidades' | translate}}</h5>          
            <a href="#" class="card-link"
               [routerLink]="['/panel-principal/gestion-funcionalidades']">{{'panel-principal.acceder' | translate}}</a>
          </div>
        </div>

        <div *ngIf="tieneFuncionalidad('ROL')" class="card-panel col col-12 col-md-3 m-3" style="width: 18rem;">
          <div class="card-body text-center">
            <h5 class="card-title">{{'panel-principal.gestion-roles' | translate}}</h5>        
            <a href="#" class="card-link"
               [routerLink]="['/panel-principal/gestion-roles']">{{'panel-principal.acceder' | translate}}</a>
          </div>
        </div>


        <div *ngIf="tieneFuncionalidad('PERMISO')" class="card-panel col col-12 col-md-3 m-3" style="width: 18rem;">
         
          <div class="card-body text-center">
            <h5 class="card-title">{{'panel-principal.gestion-permisos' | translate}}</h5>          
            <a href="#" class="card-link"
               [routerLink]="['/panel-principal/gestion-permisos']">{{'panel-principal.acceder' | translate}}</a>
          </div>
        </div>

        <div *ngIf="tieneFuncionalidad('AACADEMICO')" class="card-panel col col-12 col-md-3 m-3" style="width: 18rem;">
          <div class="card-body text-center">
            <h5 class="card-title">{{'panel-principal.gestion-anho-academico' | translate}}</h5>       
            <a href="#" class="card-link"
               [routerLink]="['/panel-principal/gestion-aacademico/showall']">{{'panel-principal.acceder' | translate}}</a>
          </div>
        </div>

        <div *ngIf="tieneFuncionalidad('PROFESOR')" class="card-panel col col-12 col-md-3 m-3" style="width: 18rem;">
          <div class="card-body text-center">
            <h5 class="card-title">{{'panel-principal.gestion-profesores' | translate}}</h5>         
            <a href="#" class="card-link"
               [routerLink]="['/panel-principal/gestion-profesores']">{{'panel-principal.acceder' | translate}}</a>
          </div>
        </div>

        <div *ngIf="tieneFuncionalidad('HORARIO')" class="card-panel col col-12 col-md-3 m-3" style="width: 18rem;">
          <div class="card-body text-center">
            <h5 class="card-title">{{'panel-principal.gestion-horarios' | translate}}</h5>         
            <a href="#" class="card-link"
               [routerLink]="['/panel-principal/gestion-horarios']">{{'panel-principal.acceder' | translate}}</a>
          </div>
        </div>

        <div *ngIf="tieneFuncionalidad('USUARIO')" class="card-panel col col-12 col-md-3 m-3" style="width: 18rem;">
          <div class="card-body text-center">
            <h5 class="card-title">{{'panel-principal.gestion-usuarios' | translate}}</h5>        
            <a href="#" class="card-link"
               [routerLink]="['/panel-principal/gestion-usuarios']">{{'panel-principal.acceder' | translate}}</a>
          </div>
        </div>

        <div *ngIf="tieneFuncionalidad('ROL_USUARIO')" class="card-panel col col-12 col-md-3 m-3" style="width: 18rem;">
          <div class="card-body text-center">
            <h5 class="card-title">{{'panel-principal.gestion-roles-usuario' | translate}}</h5>          
            <a href="#" class="card-link"
               [routerLink]="['/panel-principal/gestion-roles-usuario']">{{'panel-principal.acceder' | translate}}</a>
          </div>
        </div>

        <div *ngIf="tieneFuncionalidad('TITULACION')" class="card-panel col col-12 col-md-3 m-3" style="width: 18rem;">
          <div class="card-body text-center">
            <h5 class="card-title">{{'panel-principal.gestion-titulaciones' | translate}}</h5>            
            <a href="#" class="card-link"
               [routerLink]="['/panel-principal/gestion-titulaciones']">{{'panel-principal.acceder' | translate}}</a>
          </div>
        </div>
        <div *ngIf="tieneFuncionalidad('CENTRO')" class="card-panel col col-12 col-md-3 m-3" style="width: 18rem;">
          <div class="card-body text-center">
            <h5 class="card-title">{{'panel-principal.gestion-centros' | translate}}</h5>        
            <a href="#" class="card-link"
               [routerLink]="['/panel-principal/gestion-centros']">{{'panel-principal.acceder' | translate}}</a>
          </div>
        </div>

        <div *ngIf="tieneFuncionalidad('UNIVERSIDAD')" class="card-panel col col-12 col-md-3 m-3" style="width: 18rem;">
          <div class="card-body text-center">
            <h5 class="card-title">{{'panel-principal.gestion-universidades' | translate}}</h5>           
            <a href="#" class="card-link"
               [routerLink]="['/panel-principal/gestion-universidades']">{{'panel-principal.acceder' | translate}}</a>
          </div>
        </div>

        <div *ngIf="tieneFuncionalidad('EDIFICIO')" class="card-panel col col-12 col-md-3 m-3" style="width: 18rem;">
          <div class="card-body text-center">
            <h5 class="card-title">{{'panel-principal.gestion-edificios' | translate}}</h5>     
            <a href="#" class="card-link"
               [routerLink]="['/panel-principal/gestion-edificios']">{{'panel-principal.acceder' | translate}}</a>
          </div>
        </div>

        <div *ngIf="tieneFuncionalidad('TUTORIA')" class="card-panel col col-12 col-md-3 m-3" style="width: 18rem;">
          <div class="card-body text-center">
            <h5 class="card-title">{{'panel-principal.gestion-tutorias' | translate}}</h5>
              <a href="#" class="card-link"
               [routerLink]="['/panel-principal/gestion-tutorias']">{{'panel-principal.acceder' | translate}}</a>
          </div>
        </div>

        <div *ngIf="tieneFuncionalidad('DEPARTAMENTO')" class="card-panel col col-12 col-md-3 m-3" style="width: 18rem;">
          <div class="card-body text-center">
            <h5 class="card-title">{{'panel-principal.gestion-departamento' | translate}}</h5>
         
            <a href="#" class="card-link"
               [routerLink]="['/panel-principal/gestion-departamentos']">{{'panel-principal.acceder' | translate}}</a>
          </div>
        </div>

        <div *ngIf="tieneFuncionalidad('ASIGNATURA')" class="card-panel col col-12 col-md-3 m-3" style="width: 18rem;">
          <div class="card-body text-center">
            <h5 class="card-title">{{'panel-principal.gestion-asignaturas' | translate}}</h5>
       
            <a href="#" class="card-link"
               [routerLink]="['/panel-principal/gestion-asignaturas']">{{'panel-principal.acceder' | translate}}</a>
          </div>
        </div>

        <div *ngIf="tieneFuncionalidad('ESPACIO')" class="card-panel col col-12 col-md-3 m-3" style="width: 18rem;">
          <div class="card-body text-center">
            <h5 class="card-title">{{'panel-principal.gestion-espacios' | translate}}</h5>
      
            <a href="#" class="card-link"
               [routerLink]="['/panel-principal/gestion-espacios']">{{'panel-principal.acceder' | translate}}</a>
          </div>
        </div>

        <div *ngIf="tieneFuncionalidad('GRUPO')" class="card-panel col col-12 col-md-3 m-3" style="width: 18rem;">
          <div class="card-body text-center">
            <h5 class="card-title">{{'panel-principal.gestion-grupos' | translate}}</h5>
  
            <a href="#" class="card-link"
               [routerLink]="['/panel-principal/gestion-grupos']">{{'panel-principal.acceder' | translate}}</a>
          </div>
        </div>

        <div *ngIf="tieneFuncionalidad('TFG')" class="card-panel col col-12 col-md-3 m-3" style="width: 18rem;">
          <div class="card-body text-center">
            <h5 class="card-title">{{'panel-principal.gestion-tfg' | translate}}</h5>
       
            <a href="#" class="card-link"
               [routerLink]="['/panel-principal/gestion-tfg']">{{'panel-principal.acceder' | translate}}</a>
          </div>
        </div>



      </div>

</div>
