<header>
  <nav id="menu" class="navbar navbar-dark bg-dark ">
    <a [routerLink]="['/']"><img src="../assets/img/logo-uvigo-blanco.png" style="width:200px ;"></a>
    <ul class="navbar-nav mx-auto">
      <li class="nav-item" *ngIf="isLogged()">
        <a class="nav-link" aria-current="page" href="#" [routerLink]="['/panel-principal']"
           routerLinkActive="active">{{'panel-principal.panel-principal' | translate}}</a>
      </li>
      <li class="nav-item" *ngIf="!isLogged()">
        <a class="nav-link" href="#" [routerLink]="['/inicio']" routerLinkActive="active">Inicio</a>
      </li>
      <li class="nav-item" *ngIf="!isLogged()">
        <a class="nav-link" href="#" [routerLink]="['/test']" routerLinkActive="active">Test</a>
      </li>
    </ul>
    <div class="d-flex"> 
      
      <div *ngIf="isLogged()" style="margin: 1em;" class="dropdown">
        <a  class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-user"></i>{{'app.saludo' | translate}}{{getUsuario()?.nombre}}</a>
             
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li  *ngIf="isLogged()"> <a class="dropdown-item" [routerLink]="['/perfil']"><i class="fas fa-user"></i>{{'app.perfil' | translate}}</a></li>
          <li  *ngIf="isLogged()"><a class="dropdown-item" (click)="logOut()"><i class="fas fa-sign-out-alt"></i>{{'app.logout' | translate}}</a></li>
          <li *ngIf="isLogged()"><a class="dropdown-item"href="#" (click)="changeLang('es')">{{'app.espanol' | translate}}</a></li>
          <li *ngIf="isLogged()"><a class="dropdown-item" href="#"(click)="changeLang('gl')">{{'app.gallego' | translate}}</a></li>
         
        </ul>
      </div>
      
    </div>

  </nav>
</header>
<main role="main" class=" container mt-0 mb-5">
  <div *ngIf="!isLogged()" class="container-main-nl" >
    <router-outlet></router-outlet>
  </div>
  <div *ngIf="isLogged()"class="container-main" >
    <router-outlet></router-outlet>
  </div>

</main>

  <footer class="bg-dark text-white text-center text-md-start "style="background-color: #073349">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row justify-content-center">      


               

          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <img src="../assets/img/logo-dark.png" alt="" srcset="" style="width:200px">
          </div>
  
        
    </div>
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #073349;">
      © 2022 Planificacion y Direccion de Proyectos
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
