<div id="login">
<div class="d-flex justify-content-center h-100">
      <div class="card">
          <div id="enc-log" class="card-header">
              <h3 id="h3-log" class="text-center">Iniciar Sesion</h3>
          </div>
          <div class="card-body">
              <form  [formGroup]="userForm">
                  <div class="input-group mb-3">
                      <span id="icon-user" class="input-group-text" id="basic-addon1"><i
                              class="fa-solid fa-user"></i></span>
                              <input type="text" name="dni" class="form-control" placeholder="dni" formControlName="dni"/>
                  </div>
                  <div class="input-group mb-3">
                      <span id="icon-lock" class="input-group-text" id="basic-addon1"><i
                              class="fa-solid fa-lock"></i></span>
                      <input type="password" name="password"class="form-control" placeholder="password" aria-label="password"
                          aria-describedby="password" formControlName="password"/>
                  </div>
                  <div class="float-end">
                      <button class="btn btn-success" type="button" (click)="onSubmit()" ><i class="fas fa-sign-in-alt"></i>Iniciar Sesion</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
  
</div>